input[type=text], input[type=password] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }

  input:focus { 
    outline: #4460EF !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

  .fa-user{
      font-size:60px;
      color: #4460EF;
  }
.btn-login{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    background-color: #4460EF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.btn-login:hover {
    background-color: #1962af;
    color: white;
}

.btn-login:active {
    background-color: #1962af;
    color: white;
    box-shadow: 0 5px rgb(20, 44, 149);
    transform: translateY(4px);
}
    
    
   