
.glass-card {
    background-color: transparent;
    width: 280px;
    height: 365px;
    perspective: 1000px;
  }
  
  .glass-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .glass-card:hover .glass-card-inner {
    transform: rotateY(180deg);
  }
  
  .glass-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .glass-card-back{
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .glass-card-front {
    color: black;
    /* background-color: #F8F8F8; */
  }
  
  .glass-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .btn-buy-now{
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
  }