@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Abel', sans-serif !important;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Abel', sans-serif !important;
  font-family: 'Quicksand', sans-serif;
}
